* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: lightseagreen;
  height: 30vh;
  width: 100%;
  padding: 1rem;
  transition: height ease 700ms;
  overflow: hidden;
}

h3 { 
  display: flex;
  align-items: center;
  border: solid 1px black;
  height: 10%;
  padding: 1rem;
}

h3:hover {
  cursor: pointer;
}

.details {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 90%;
  width: 100%;
}

.checklist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: solid 1px black;
  height: 90%;
  width: 40%;
  padding: 1rem;
}

#checklist__goals {
  justify-content: flex-start;
  align-items: flex-start;
}

.checklist p {
  text-align: center;
}

.aside__details {
  display: flex;
  flex-direction: column;
}

input {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid lightslategray;
}

input:focus-visible {
  outline: none;
}

button#goal__button {
  margin-left: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid lightslategray;
}

button#goal__button:hover {
  cursor: pointer;
}

button#goal__button:active {
  border-radius: 20px;
}