* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Section Contains Goals and Input Controls */
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

/* Goals Displayed and Clear BTN */
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin:  1rem auto;
  padding: 1rem;
  border: solid 1px black;
  border-radius: 5px;
  width: 350px;
  background: rgb(77, 203, 77);
}

.goals__container {
  display: flex;
  flex-direction: column;
  align-items: center;  border: solid 1px black;
  border-radius: 5px;
  height: 200px;
  width: 90%;
  margin: 1rem;
  padding: 1rem;
  background-color: rgb(214, 238, 251);
  overflow-y: scroll;
}

.goals__container::-webkit-scrollbar {
  display: none;
}

.btn {
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  border: 1px solid black;
  
}

.btn:hover {
  cursor: pointer;
}

#clear__btn:active {
  background-color: rgb(240, 178, 64);
}

#enter__btn:active {
  background-color: rgb(77, 203, 77);
}

/* Input Container / Controls */
.input__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(240, 178, 64);
  border: solid 1px black;
  border-radius: 5px;
  width: 350px;
  height: 100px;
  padding: 1rem;
}

.input__controls {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#input__text {
  padding: 0.25rem;
  border-radius: 3px;
  border: 1px solid black;
}

#input__text:focus-visible {
  outline: none;
}